form {
    width: 250px;
}

.form-width {
    width: 250px;
}

.unsaved{
    background-color: rgb(131, 131, 38);
}

#basic-addon1{
    color: "red";
    width: 40px;
    /* background-color: rgb(37, 210, 253);; */
}

input.form-control:disabled, .form-control[readonly]{
    background-color:rgb(221, 221, 221);
    color: rgb(56, 56, 56);
}

.centerFlex{
    text-align: center;
    vertical-align: middle;
    margin: auto 0px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.fiveSpace{
    margin: 5px;
}

.selectBox{
    color: white;
    width: 170px;
}

