.customModal {
    background-color: #23272e;
    color: rgb(255, 255, 255);
    width: 310px;
}

thead {
    font-weight: bold;
}

td {
    border: 1px solid rgb(94, 94, 94);
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.card {
    display: inline-block;
}